@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table>
        <tr><td><strong>Environment Name</strong></td><td>@Model.Config.EnvironmentName</td></tr>
        <tr><td><strong>Administrator Group</strong></td><td>@Model.Config.AdministratorGroup</td></tr>
        <tr><td><strong>Database Name</strong></td><td>@Model.Config.DatabaseName</td></tr>
        <tr><td><strong>Database UserName</strong></td><td>@Model.Config.DatabaseUserName</td></tr>
        <tr><td><strong>Email Suffix</strong></td><td>@Model.Config.Email</td></tr>        
    </table>
</div>
